# File /etc/systemd/system/nasa-kafka.service
#
# Start/status/stop
#   sudo systemctl start nasa-kafka.service
#   sudo systemctl status nasa-kafka.service
#   sudo systemctl stop nasa-kafka.service
#
# Start when computer boots:
#   sudo systemctl enable nasa-kafka.service
#
# When running, it should listen on localhost:9092
#   netstat -an | fgrep 9092


[Unit]
Description=nasa Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target nasa-zookeeper.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
User=epics_services_nasa
Group=epics_services_nasa

Restart=on-failure
RestartSec=5s

Environment=JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
Environment=PATH=/usr/lib/jvm/java-17-openjdk-amd64/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

ExecStart=/opt/epics-tools/services/nasa/kafka/kafka_2.13-3.6.2/bin/kafka-server-start.sh /opt/epics-tools/services/nasa/kafka/kafka_2.13-3.6.2/config/server.properties
ExecStop=/opt/epics-tools/services/nasa/kafka/kafka_2.13-3.6.2/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target
